# ============================================
# Core-Islands / Gateway Group
# ============================================

# Connectivity
CF_TUNNEL_TOKEN=

# Network (Agnostic Bridge)
GLOBAL_NETWORK_NAME=global_network