# ============================================
# ISORA VPS-CORE: DATABASE GATEWAY
# ============================================

# --------------------------------------------
# NETWORK
# --------------------------------------------
GLOBAL_NETWORK_NAME=global_network
INTERNAL_NETWORK_NAME=

# --------------------------------------------
# MARIADB
# --------------------------------------------
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=

# --------------------------------------------
# MONGODB
# --------------------------------------------
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=

# --------------------------------------------
# REDIS
# --------------------------------------------
REDIS_PORT=6379
REDIS_PASSWORD=