# ============================================
# Core-Islands / Database Group
# ============================================

# Security - Credentials
MARIADB_ROOT_PASSWORD=''
MONGO_ROOT_USER=''
MONGO_ROOT_PASSWORD=''
REDIS_PASSWORD=''

# Infrastructure Networks
GLOBAL_NETWORK_NAME=global_network