# ==============================================================================
# ISORA VPS-CORE: GATEWAY CONFIG (MINIMALIST)
# ==============================================================================

# 1️⃣ INFRAESTRUCTURA DE RED
# ------------------------------------------------------------------------------
# Nombre de la red creada en el pilar /global
GLOBAL_NETWORK_NAME=global_network

# 2️⃣ SEGURIDAD CLOUDFLARE
# ------------------------------------------------------------------------------
# Token del túnel (Cloudflare Zero Trust > Networks > Tunnels)
CF_TUNNEL_TOKEN=